{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>PM-KISAN</title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
        <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
        <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
        <link rel="stylesheet" href="{% static 'css/Stats.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="margin-bottom: 0px;padding-top: 0px;height: 146px;">
            <div class="container"><img src="{% static 'img/clipboard-image-1.png' %}" style="height: 129px;margin-left: -117px;width: 91.1px;"><small style="height: 0px;margin-left: -169px;padding-top: 24px;"><strong>Department of Agriculture and Farmers Welfare</strong></small>
                <h1 style="margin-left: -574px;margin-top: -76px;height: 16px;width: 294.862px;"><strong>PM-Kisan Yojna</strong></h1>
                <nav class="navbar navbar-light navbar-expand-md">
                    <div class="container-fluid"><a class="navbar-brand" href="login">Home</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="https://pmkisan.gov.in" style="color: rgb(11,1,1);">Guidelines</a></li>
                                <li class="nav-item"><a class="nav-link" href="https://pmkisan.gov.in/LetterandCirculars.aspx">Letters/Circulars</a></li>
                                <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                                <li class="nav-item"><a class="nav-link active" href="register">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </nav><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav><img src="{% static 'img/clipboard-image.png' %}" style="width: 1344px;padding-top: 0px;height: 349.337px;">
        <section class="register-photo">
            <div class="form-container">
                <form action="farmerslogin" method="POST">
                    {% csrf_token %}


                    <h2 class="text-center"><strong>Farmers</strong>&nbsp;Registration</h2>
                    <br>
                    <h6 class="text-left"><strong>Pm-Kisan ID</strong>&nbsp;</h6>
                    <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Pm-Kisan ID" style="margin-top: 20px;"></div>
                    <h6 class="text-left"><strong>UserName</strong>&nbsp;</h6>
                    <div class="mb-3"><input class="form-control" type="text" name="pm_kisan_id" placeholder="Pm-Kisan ID" style="margin-top: 20px;"></div>
                    <h6 class="text-left"><strong>Farmer Name</strong>&nbsp;</h6>
                    <div class="mb-3"><input class="form-control" type="text" name="farmer_name" placeholder="Farmer Name" style="margin-top: 20px;"></div>
                    <h6 class="text-left"><strong>Khata Number</strong>&nbsp;</h6>
                    <div class="mb-3"><input class="form-control" type="number" name="khata_number" placeholder="Khata Number" style="margin-top: 20px;"></div>
                    <h6 class="text-left"><strong>Khasra Number</strong>&nbsp;</h6>
                    <input class="form-control" type="number" name="khasra_number" placeholder = "Khasra Number" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>State Code</strong>&nbsp;</h6>
                    <div class="mb-3"><input class="form-control" type="number" name="state_code" style="margin-top: 20px" placeholder="State Code"></div>
                    <h6 class="text-left"><strong>District Code</strong>&nbsp;</h6>
                    <input class="form-control" type="number" name="district_code" placeholder = "District Code" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>Tehsil Code</strong>&nbsp;</h6>
                    <input class="form-control" type="number" name="tehsil_code" placeholder = "Tehsil Code" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>Land Area Unit</strong>&nbsp;</h6>
                    <input class="form-control" type="text" name="land_area_unit" placeholder = "Land Area Unit" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>Land Area</strong>&nbsp;</h6>
                    <input class="form-control" type="number" name="land_area" placeholder = "Land Area" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>Aadharr Number</strong>&nbsp;</h6>
                    <input class="form-control" type="text" name="aadhaar_number" placeholder = "Land Area Unit" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>Bank IFSC Code</strong>&nbsp;</h6>
                    <input class="form-control" type="text" name="bank_ifsc" placeholder = "Land Area Unit" style="margin-top: 20px;" />
                    <h6 class="text-left"><strong>Bank Account Number</strong>&nbsp;</h6>
                    <input class="form-control" type="text" name="bank_acc_number" placeholder = "Land Area Unit" style="margin-top: 20px;" />
                    <div class="mb-3"></div>
                    
                    <div class="mb-3">
                        <div class="form-check" style="height: 24px;font-size: 17px;margin-top: 25px;"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="Submit">Register</button></div>
                    <div class="container py-4 py-xl-5">
                        <div class="row gy-4 row-cols-2 row-cols-md-4" style="margin-top: -28px;">
                            <div class="col">
                                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bell">
                                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                                        </svg></div>
                                    <div class="px-3">
                                        <h2 class="fw-bold mb-0">123+</h2>
                                        <p class="mb-0">Erat netus</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                                            <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                            <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                                        </svg></div>
                                    <div class="px-3">
                                        <h2 class="fw-bold mb-0">45+</h2>
                                        <p class="mb-0">Erat netus</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cup">
                                            <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V2z"></path>
                                        </svg></div>
                                    <div class="px-3">
                                        <h2 class="fw-bold mb-0">67+</h2>
                                        <p class="mb-0">Erat netus</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2 bs-icon lg"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart2">
                                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                        </svg></div>
                                    <div class="px-3">
                                        <h2 class="fw-bold mb-0">89</h2>
                                        <p class="mb-0">Erat netus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <footer class="footer-dark" style="height: 165.5px;margin-top: 81px;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Designed By</h3>
                            <ul>
                                <li>National Informatics Centre</li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Hosted by</h3>
                            <ul>
                                <li>National Informatics Centre</li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3></h3><img src="{% static 'img/clipboard-image-3.png' %}" style="margin-left: 11px;padding-left: 318px;padding-top: 0px;padding-bottom: 0px;margin-top: -21px;">
                        </div>
                    </div>
                    <p class="copyright" style="color: rgb(0,5,8);">National Informatics Centre © 2022</p>
                </div>
            </footer>
        </section>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>