{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PM-KISAN (copy)</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark-Multi-Column.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/Testimonials-Centered.css' %}">
</head>'

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="margin-bottom: 0px;padding-top: 0px;height: 146px;">
        <div class="container"><img src="{% static 'img/clipboard-image-1.png' %}" style="height: 129px;margin-left: -117px;width: 91.1px;"><small style="height: 0px;margin-left: -169px;padding-top: 24px;"><strong>Department of Agriculture and Farmers Welfare</strong></small>
            <h1 style="margin-left: -574px;margin-top: -76px;height: 16px;width: 294.862px;"><strong>PM-Kisan Yojna</strong></h1>
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><a class="navbar-brand" href="#">Home</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="https://pmkisan.nic.in" style="color: rgb(11,1,1);">Guidelines</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://pmkisan.nic.in/LetterandCirculars.aspx">Letters/Circulars</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Farmers Portal</a></li>
                            <li class="nav-item"><a class="nav-link" href="register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="login">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav><img src="{% static 'img/clipboard-image.png' %}" style="width: 1344px;padding-top: 0px;height: 345.337px;">
    <div class="container py-4 py-xl-5" style="height: 307.4px;margin-top: 32px;border-style: solid;border-radius: 25px;">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="border-radius: 36px;color: rgb(33, 37, 41);border-style: solid;border-color: var(--bs-gray-dark);">
                <h2 style="font-size: 27px;color: var(--bs-purple);font-family: ABeeZee, sans-serif;text-align: center;padding-top: 5px;">Tehsils (X:Y:Z)</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
            <div class="col" style="border-radius: 19px;border-color: rgb(25,126,228);">
                <div class="d-flex flex-column justify-content-center align-items-center" style="border-radius: 0px;border-color: rgb(12,21,30);">
                    <p class="text-center">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold text-primary mb-0">Farmer 1</p>
                            <p class="text-muted mb-0">Edit/Status</p>
                        </div>
                    </div>
                    <div class="card border-0 shadow-none">
                        <div class="card-body d-flex align-items-center p-0"></div>
                    </div>
                </div>
            </div>
            <div class="col" style="border-radius: 16px;">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="text-center">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold text-primary mb-0">Farmer 2</p>
                            <p class="text-muted mb-0">Edit/Status</p>
                        </div>
                    </div>
                    <div class="card border-0 shadow-none">
                        <div class="card-body d-flex align-items-center p-0"></div>
                    </div>
                </div>
            </div>
            <div class="col" style="border-radius: 15px;">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="text-center">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus.</p>
                    <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold text-primary mb-0">Farmer 3</p>
                            <p class="text-muted mb-0">Edit/Status</p>
                        </div>
                    </div>
                    <div class="card border-0 shadow-none">
                        <div class="card-body d-flex align-items-center p-0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-dark" style="height: 165.5px;margin-top: 81px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Designed By</h3>
                    <ul>
                        <li>National Informatics Centre</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Hosted by</h3>
                    <ul>
                        <li>National Informatics Centre</li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3></h3><img src="{% static 'img/clipboard-image-3.png' %}" style="margin-left: 11px;padding-left: 318px;padding-top: 0px;padding-bottom: 0px;margin-top: -21px;">
                </div>
            </div>
            <p class="copyright">Company Name © 2022</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>